@color-border: var( --color-neutral-20, #E5E5E5 );

@card-list-link-font-color : var( --color-primary-100, #3C1642 );

@card-header-dropdown-toggle-bg-color : transparent;
@card-header-dropdown-toggle-open-bg-color : var( --color-neutral-5, #F6F7F5 );

@card-header-dropdown-option-hover-bg-color : var( --color-neutral-5, #F6F7F5 );

@pagination-item-border-color : @color-border;
@pagination-item-bg-color     : transparent;
@pagination-item-font-color   : var( --font-color-base, #737373 );;

@pagination-item-hover-bg-color : var( --color-neutral-5, #F6F7F5 );;

@pagination-item-active-bg-color   : var( --color-primary-100, #3C1642 );
@pagination-item-active-font-color : var( --color-white, #FFF );

@pagination-item-disabled-bg-color   : @pagination-item-hover-bg-color;
@pagination-item-disabled-font-color : @pagination-item-font-color;