@import url("global/variables");
@import url("layouts/login");
@import url("structure/breadcrumbs");
@import url("structure/environment-banner");
@import url("structure/header");
@import url("structure/main");
@import url("structure/mobile-navigation");
@import url("components/alert/alert");
@import url("components/badge/badge");
@import url("components/button-fill/button-fill");
@import url("components/button-outline/button-outline");
@import url("components/buttons-group/buttons-group");
@import url("components/card-stat/card-stat");
@import url("components/card/card");
@import url("components/description-list/description-list");
@import url("components/empty-state/empty-state");
@import url("components/form/form");
@import url("components/grid/grid");
@import url("components/image-popup/image-popup");
@import url("components/label/label");
@import url("components/list-steps/list-steps");
@import url("components/list/list");
@import url("components/menu-app-mobile/menu-app-mobile");
@import url("components/menu-app/menu-app");
@import url("components/popover-menu/popover-menu");
@import url("components/progress-bar/progress-bar");
@import url("components/stack/stack");
@import url("shame/forms");
@import url("shame/tabs");

html.presidecms body#app {
  background: @color-primary-100 !important;
  display: flex;
  flex-direction: column;
}
