:root {
  --color-primary-110: #012247;
  --color-primary-100: #012e62;
  --color-primary-90: #013e83;
  --color-primary-10: #c2defe;
  --color-primary-5: #dbecff;

  --color-secondary-110: #c57518;
  --color-secondary-100: #f6921e;
  --color-secondary-90: #f8a84b;
  --color-secondary-10: #fbd3a5;
  --color-secondary-5: #fde9d2;

  --color-tertiary-110: #3d3f90;
  --color-tertiary-100: #4d59bf;
  --color-tertiary-90: #8196d9;
  --color-tertiary-10: #cdd5f0;
  --color-tertiary-5: #e3e7f6;

  // Colors: Semantic
  --text-color: var(--color-neutral-80);
  --text-color-muted: var(--color-neutral-60);
  --text-color-highlight: var(--color-neutral-100);

  // General
  --body-background-color: var(--color-primary-100);

  // Layout: Login
  --layout-login-background-color: var(--color-primary-100);
  --layout-login-image: url("/preside/system/assets/extension/preside-ext-alt-admin-theme/assets/images/backgrounds/login.jpg");
  --layout-login-toolbar-logo-width: 48px;

  // Structure: Header Mobile Navigation
  --structure-header-mobile-navigation-trigger-icon-color: var(--color-secondary-100);

  // Components: Menu App
  --components-menu-app-item-link-color: var(--color-white);
  --components-menu-app-item-active-link-color: var(--text-color-highlight);
  --components-menu-app-item-icon-color: var(--color-secondary-100);
  --components-menu-app-item-active-icon-color: var(--color-secondary-100);

  // Components: Menu App Mobile
  --components-menu-app-mobile-item-link-color: var(--color-white);
  --components-menu-app-mobile-item-active-indicator-color: var(--color-secondary-100);
  --components-menu-app-mobile-item-icon-color: var(--color-secondary-100);
  --components-menu-app-mobile-item-toggle-color: var(--color-white);
  --components-menu-app-mobile-subitem-link-color: var(--color-white);
}
