@import url("../../global/variables.less");
@import url("../../global/mixins.less");

#app {
  .p-login-first-time-setup__header {
    margin-bottom: @spacing-6;
    text-align: center;
  }

  .p-login-first-time-setup__header-title {
    color: @color-white;
    font-size: @font-size-3xl;
    font-weight: @font-weight-bold;
    margin: 0 0 @spacing-6 0;
  }

  .p-login-first-time-setup__header-description {
    color: @color-white;
  }

  .p-login-first-time-setup__body {
    background: @color-white;
    border-radius: @border-radius-3xl;
    margin-bottom: @spacing-6;
    padding: @spacing-6;
  }

  .p-login-first-time-setup__body-notification {
    margin-bottom: @spacing-6;
  }

  .p-login-first-time-setup__footer {
    text-align: center;
  }

  .p-login-first-time-setup__footer-link {
    color: @color-white;
    text-decoration: underline;
    text-underline-offset: @spacing-2;
    transition: @transition-normal;

    &:hover {
      text-underline-offset: @spacing-3;
    }

    &:focus {
      outline: none;
    }
  }
}
