@import url("../../global/mixins.less");

.c-menu-app {
  min-width: 0;
}

.c-menu-app__items {
  display: flex;
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.c-menu-app__item {
  border-left: solid 1px @color-primary-90;
  min-width: 0;

  &:last-child {
    border-right: solid 1px @color-primary-90;
  }

  &.is-active,
  &:has(:popover-open) {
    border-left-color: transparent;
    border-right-color: transparent;

    .c-menu-app__item-link {
      background: @color-white;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    .c-menu-app__item-label {
      color: @text-color-highlight;
    }

    .c-menu-app__item-toggle {
      color: @icon-color-highlight;
    }

    + .c-menu-app__item {
      border-left-color: transparent;
    }
  }

  &:has(:popover-open) {
    .c-menu-app__item-link {
      border-color: @color-neutral-10;
      border-bottom-color: transparent;
    }
  }

  &:hover {
    .c-menu-app__item-icon {
      transform: scale(1.1);
    }
  }
}

.c-menu-app__item-link {
  align-items: center;
  background: transparent;
  border: solid 1px transparent;
  border-radius: @border-radius-3xl @border-radius-3xl 0 0;
  display: inline-flex;
  gap: @spacing-2;
  max-width: 100%;
  overflow: hidden;
  padding: @spacing-6 @spacing-4;

  &:hover {
    text-decoration: none !important;
  }

  &:focus {
    outline: none !important;
  }

  &:focus-visible {
    outline-offset: -@spacing-1 !important;
    outline: solid 2px @color-secondary-100 !important;
  }
}

.c-menu-app__item-icon {
  .size(20);
  color: @color-secondary-100;
  flex-shrink: 0;
  transition: @transition-normal;
}

.c-menu-app__item-label {
  color: @color-white;
  display: block;
  flex: 1;
  font-weight: @font-weight-bold;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-menu-app__item-toggle {
  .size(16);
  color: @color-white;
}

.c-menu-app__submenu {
  background: @color-white;
  border-block-start: none;
  border-radius: 0 0 @border-radius-3xl @border-radius-3xl;
  border: solid 1px @color-neutral-10;
  box-shadow: 0 12px 24px -12px rgba(0, 0, 0, 0.5);
  left: anchor(left);
  list-style: none;
  margin: 0 !important;
  min-width: anchor-size(width);
  padding-block-end: @spacing-2 !important;
  padding: 0 !important;
  position: fixed;
  top: anchor(bottom);
}

.c-menu-app__subitem {
  padding: @spacing-0-5 @spacing-1;

  &--separator {
    .height(1);
    background: @color-neutral-10;
    border: none !important;
    padding: 0;
  }
}

.c-menu-app__subitem-link {
  border-radius: @border-radius-md;
  color: @text-color !important;
  display: block;
  padding: @spacing-2 @spacing-3;

  &:hover {
    background: @color-neutral-5;
    text-decoration: none !important;
  }

  &:focus {
    outline: none !important;
  }

  &:focus-visible {
    outline: solid 2px @color-secondary-100 !important;
  }
}
