.c-empty-state {
  border: solid 1px var(--color-neutral-20);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  text-align: center;
  padding: 48px;
}

.c-empty-state__icon {
  font-size: 22px !important;
}

.c-empty-state__title {
  color: var(--color-neutral-100);
  font-size: 22px;
  font-weight: bold;
}

.c-empty-state__description {
  color: var(--color-neutral-60);
}
