@import url("../../global/variables.less");
@import url("../../global/mixins.less");

#app {
  .p-login__header {
    margin-bottom: @spacing-6;
    text-align: center;
  }

  .p-login__header-logo {
    background-image: var(--login-logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--login-logo-height);
    margin: var(--login-logo-margin);
    margin-bottom: @spacing-6;
    width: var(--login-logo-width);
  }

  .p-login__header-logo-image {
    max-width: 100%;
    .width(350);
  }

  .p-login__header-description {
    color: @color-white;
  }

  .p-login__body {
    &:not(:last-child) {
      margin-bottom: @spacing-6;
    }
  }

  .p-login__body-notification {
    margin-bottom: @spacing-6;
  }

  .p-login__body-form {
    margin-bottom: @spacing-6;
  }

  .p-login__body-forgotten {
    text-align: center;
  }

  .p-login__body-forgotten-link {
    color: @color-white;
    text-decoration: underline @color-secondary-100;
    text-underline-offset: @spacing-2;
    transition: @transition-normal;

    &:hover {
      text-underline-offset: @spacing-3;
    }

    &:focus {
      outline: none;
    }
  }

  .p-login__footer-version {
    color: @color-white;
    text-align: center;
    opacity: 0.5;
    font-size: @font-size-xs;
  }
}
