@import url("../../global/variables.less");

.c-description-list {
  display: flex;
  flex-direction: column;
  gap: @spacing-2;
}

.c-description-list__item-label {
  color: @text-color-muted;
  font-weight: @font-weight-regular !important;
}

.c-description-list__item-value {
  color: @text-color-highlight;
}
