:root {
  --color-primary-100: #171123;
  --color-primary-90: #45414f;
  --color-primary-10: #b7b5bb;
  --color-primary-5: #e8e7e9;
  --color-primary-110: #150f20;

  --color-secondary-100: #ff3eb5;
  --color-secondary-90: #ffa2db;
  --color-secondary-10: #ffc3e8;
  --color-secondary-5: #ffe6f5;
  --color-secondary-110: #ff53bd;

  --color-tertiary-100: #634568;
  --color-tertiary-90: #826a86;
  --color-tertiary-10: #cfc5d0;
  --color-tertiary-5: #efecf0;
  --color-tertiary-110: #5a3f5f;

  --navbar-color: var(--color-primary-100);
  --navbar-zindex: 1003;
  --navbar-icon-color: var(--color-tertiary-100);
  --navbar-active-color: var(--color-neutral-20);
  --navbar-hover-color: var(--color-neutral-10);
  --navbar-active-text-color: var(--font-color-base);
  --navbar-hover-text-color: var(--font-color-base);

  --navbar-sitepicker-color: var(--color-secondary-100);
  --navbar-sitepicker-icon-color: var(--color-primary-100);
  --navbar-sitepicker-text-color: var(--color-primary-100);
  --navbar-sitepicker-hover-color: var(--color-secondary-90);

  --navbar-settings-menu-color: var(--color-primary-90);
  --navbar-logo-image: none;
  --navbar-logo-bg-size: 44px;
  --navbar-logo-icon-zindex: 1002;
  --navbar-logo-position: -2px 50%;
  --navbar-logo-width: 45px;
  --navbar-logo-height: 42px;
  --navbar-logo-icon-width: 45px;
  --navbar-logo-icon-height: 42px;
  --navbar-logo-margin: 9px 0;
  --navbar-logo-padding: 0;
  --navbar-logo-border: 3px solid white;
  --navbar-logo-border-radius: 9px;
  --navbar-notification-badge-color: var(--color-error-100);

  --sidebar-submenu-active-color: var(--color-neutral-20);
  --sidebar-submenu-color: var(--color-neutral-10);

  --login-bg-image: none;
  --login-bg-color: var(--color-primary-100);
  --login-bg-repeat: no-repeat;
  --login-bg-position: center center;
  --login-bg-attachment: fixed;
  --login-bg-size: cover;

  --login-logo: none;
  --login-logo-width: 265px;
  --login-logo-height: 74px;
  --login-logo-margin: 0 auto 30px;

  --login-locale-font-color: white;

  --login-container-width: 350px;
  --login-box-color: white;
  --login-box-border: none;
  --login-box-border-radius: 10px;
  --login-box-font-color: var(--font-color-base);
  --login-box-link-color: var(--color-link);
  --login-button-font-size: var(--font-size-body-lg);
  --login-button-color: var(--color-tertiary-100);
  --login-button-color-hover: var(--color-tertiary-90);
  --login-button-color-active: var(--color-tertiary-110);
  --login-button-text-color: white;

  --button-default-100: var(--color-secondary-100);
  --button-default-110: var(--color-secondary-110);
  --button-default-90: var(--color-secondary-90);
  --button-default-10: var(--color-secondary-10);
  --button-default-5: var(--color-secondary-5);
}
