@import url("css-variables.less");

/* Global */
@root-rem: 13;

/* Screen Sizes */
@screen-xs: 480px;
@screen-sm: 640px;
@screen-md: 768px;
@screen-lg: 1024px;
@screen-xl: 1280px;
@screen-2xl: 1536px;

/* Media Queries */
@mq-xs: ~"only screen and (min-width: @{screen-xs})";
@mq-sm: ~"only screen and (min-width: @{screen-sm})";
@mq-md: ~"only screen and (min-width: @{screen-md})";
@mq-lg: ~"only screen and (min-width: @{screen-lg})";
@mq-xl: ~"only screen and (min-width: @{screen-xl})";
@mq-2xl: ~"only screen and (min-width: @{screen-2xl})";

/* Spacing */
@spacing-0-5: (2 / @root-rem) * 1rem;
@spacing-1: (4 / @root-rem) * 1rem;
@spacing-2: (8 / @root-rem) * 1rem;
@spacing-3: (12 / @root-rem) * 1rem;
@spacing-4: (16 / @root-rem) * 1rem;
@spacing-5: (20 / @root-rem) * 1rem;
@spacing-6: (24 / @root-rem) * 1rem;
@spacing-7: (28 / @root-rem) * 1rem;
@spacing-8: (32 / @root-rem) * 1rem;
@spacing-9: (36 / @root-rem) * 1rem;
@spacing-10: (40 / @root-rem) * 1rem;
@spacing-11: (44 / @root-rem) * 1rem;
@spacing-12: (48 / @root-rem) * 1rem;
@spacing-13: (56 / @root-rem) * 1rem;
@spacing-14: (64 / @root-rem) * 1rem;
@spacing-15: (72 / @root-rem) * 1rem;

/* Border Radius */
@border-radius-xs: (2 / @root-rem) * 1rem;
@border-radius-sm: (4 / @root-rem) * 1rem;
@border-radius-md: (8 / @root-rem) * 1rem;
@border-radius-lg: (12 / @root-rem) * 1rem;
@border-radius-xl: (16 / @root-rem) * 1rem;
@border-radius-2xl: (20 / @root-rem) * 1rem;
@border-radius-3xl: (24 / @root-rem) * 1rem;

/* Transitions */
@transition-fast: 200ms;
@transition-normal: 400ms;
@transition-slow: 800ms;

/* Colors: Base */
@color-white: var(--color-white);
@color-black: var(--color-black);

/* Colors: Primary */
@color-primary-100: var(--color-primary-100);
@color-primary-90: var(--color-primary-90);
@color-primary-10: var(--color-primary-10);
@color-primary-5: var(--color-primary-5);
@color-primary-110: var(--color-primary-110);

/* Colors: Secondary */
@color-secondary-100: var(--color-secondary-100);
@color-secondary-90: var(--color-secondary-90);
@color-secondary-10: var(--color-secondary-10);
@color-secondary-5: var(--color-secondary-5);
@color-secondary-110: var(--color-secondary-110);

/* Colors: Tertiary */
@color-tertiary-100: var(--color-tertiary-100);
@color-tertiary-90: var(--color-tertiary-90);
@color-tertiary-10: var(--color-tertiary-10);
@color-tertiary-5: var(--color-tertiary-5);
@color-tertiary-110: var(--color-tertiary-110);

/* Colors: Neutral */
@color-neutral-5: var(--color-neutral-5);
@color-neutral-10: var(--color-neutral-10);
@color-neutral-20: var(--color-neutral-20);
@color-neutral-40: var(--color-neutral-40);
@color-neutral-60: var(--color-neutral-60);
@color-neutral-80: var(--color-neutral-80);
@color-neutral-100: var(--color-neutral-100);

/* Colors: Success */
@color-success-5: var(--color-success-5);
@color-success-10: var(--color-success-10);
@color-success-90: var(--color-success-90);
@color-success-100: var(--color-success-100);
@color-success-110: var(--color-success-110);

/* Colors: Warning */
@color-warning-5: var(--color-warning-5);
@color-warning-10: var(--color-warning-10);
@color-warning-90: var(--color-warning-90);
@color-warning-100: var(--color-warning-100);
@color-warning-110: var(--color-warning-110);

/* Colors: Error */
@color-error-5: var(--color-error-5);
@color-error-10: var(--color-error-10);
@color-error-90: var(--color-error-90);
@color-error-100: var(--color-error-100);
@color-error-110: var(--color-error-110);

/* Colors: Info */
@color-info-5: var(--color-info-5);
@color-info-10: var(--color-info-10);
@color-info-90: var(--color-info-90);
@color-info-100: var(--color-info-100);
@color-info-110: var(--color-info-110);

/* Font */
@font-size-3xs: (10 / @root-rem) * 1rem;
@font-size-2xs: (11 / @root-rem) * 1rem;
@font-size-xs: (12 / @root-rem) * 1rem;
@font-size-sm: (13 / @root-rem) * 1rem;
@font-size-md: (15 / @root-rem) * 1rem;
@font-size-lg: (18 / @root-rem) * 1rem;
@font-size-xl: (20 / @root-rem) * 1rem;
@font-size-2xl: (22 / @root-rem) * 1rem;
@font-size-3xl: (24 / @root-rem) * 1rem;
@font-size-4xl: (30 / @root-rem) * 1rem;
@font-size-5xl: (36 / @root-rem) * 1rem;
@font-size-6xl: (48 / @root-rem) * 1rem;
@font-size-7xl: (60 / @root-rem) * 1rem;
@font-size-8xl: (72 / @root-rem) * 1rem;
@font-size-9xl: (96 / @root-rem) * 1rem;
@font-size-10xl: (128 / @root-rem) * 1rem;

@text-color: @color-neutral-80;
@text-color-highlight: @color-neutral-100;
@text-color-muted: @color-neutral-60;

@icon-color: @color-neutral-80;
@icon-color-highlight: @color-neutral-100;
@icon-color-muted: @color-neutral-60;

@font-weight-regular: 300;
@font-weight-bold: var(--font-weight-bold);

@font-family-primary: "Poppins", sans-serif;
@font-size-3xl: var(--font-size-3xl);
