@import url("../global/variables.less");

.s-mobile-navigation {
  display: none;
  border-top: solid 1px @color-primary-90;
}

@media @mq-xl {
  .s-mobile-navigation {
    display: none !important;
  }
}
