@import url("../../global/variables.less");
@import url("../../global/mixins.less");

.c-button-fill {
  align-items: center;
  border-radius: @border-radius-md;
  border: solid 1px transparent;
  color: @color-white !important;
  display: inline-flex;
  font-weight: @font-weight-bold;
  padding: @spacing-4;
  transition: @transition-normal;

  &:hover {
    text-decoration: none !important;
  }

  &--display-block {
    display: flex;
    width: 100%;
  }

  &--text-align-center {
    justify-content: center;
    text-align: center;
  }

  &--skin-primary {
    background: @color-primary-100;

    &:hover {
      background: @color-primary-110;
    }
  }

  &--skin-secondary {
    background: @color-secondary-100;

    &:hover {
      background: @color-secondary-110;
    }
  }
}

.c-button-fill__icon {
  margin-right: @spacing-2;
  .size(16);
}

.c-button-fill__icon-toggle {
  margin-left: @spacing-2;
  .size(16);
}
