@import url("../../global/variables.less");
@import url("../../global/mixins.less");

.c-badge-outline-dash {
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 9999px;
  border: dashed 1px;
  display: inline-flex;
  justify-content: center;

  &--size-3xs {
    .size(16);
    font-size: @font-size-3xs;
  }

  &--skin-secondary {
    border-color: @color-secondary-100;
    color: @color-white;
  }

  &--animation-pulse {
    animation: badge-pulse 1.5s ease-in-out infinite;
  }
}

@keyframes badge-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}
