@import url("../../global/variables.less");
@import url("../../global/mixins.less");

.c-alert {
  align-items: center;
  border-radius: @border-radius-md;
  background-color: @color-neutral-5;
  border: 1px solid @color-neutral-10;
  display: flex;
  gap: @spacing-3;
  padding: @spacing-3 @spacing-4;

  &--type-danger {
    background-color: @color-error-5;
    border-color: @color-error-10;
    color: @color-error-100;
  }

  &--type-success {
    background-color: @color-success-5;
    border-color: @color-success-10;
    color: @color-success-100;
  }

  &--type-warning {
    background-color: @color-warning-5;
    border-color: @color-warning-10;
    color: @color-warning-100;
  }
}

.c-alert__icon {
  .size(20);
  flex-shrink: 0;
}

.c-alert__content {
  flex: 1;
  font-size: @font-size-sm;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
